@import "../icons/css/style.css";

// body font size
$browser-context: 16;

// function to convert px to em
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em
}

;

// breakpoint mixin

@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2==false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }

    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

;

// breakpoint variables
$xl: 1366px;
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// responsive font size mixin
@mixin font-size-map($font-size-map) {

    @each $breakpoint,
    $font-size in $font-size-map {
        @if $breakpoint==null {
            font-size: $font-size;
        }

        @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}

@mixin line-height-map($line-height-map) {

    @each $breakpoint,
    $line-height in $line-height-map {
        @if $breakpoint==null {
            line-height: $line-height;
        }

        @else {
            @include breakpoint($breakpoint) {
                line-height: $line-height;
            }
        }
    }
}

section {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

// font sizes

$paragraph-font-size: (null: 18px, $lg: 17px, $md: 16px, $sm: 15px, $xs: 14px);
$small-paragraph-font-size: (null: 16px, $lg: 16px, $md: 15px, $sm: 14px, $xs: 13px);
$release-text-font-size: (null: 14px, $lg: 14px, $md: 14px, $sm: 14px, $xs: 14px);
$base-font-size: (null: em(18));
$p-font-size: (null: em(20), $xl: em(18));
$caption-font-size: (null: em(24), $xl: em(20));
$large-caption-font-size: (null: em(28));
$h1-font-size: (null: em(72), $xl: em(70), $lg: em(60), $md: em(50), $sm: em(40));
$h1-line-height: (null: 98px, $xl: 85px, $lg: 80px, $md: 75px, $sm: 65px, $xs: 65px);
/* 58 */

$h2-font-size: (null: em(54), $xl: em(48), $lg: em(47), $md: em(45), $sm: em(35), $xs: em(32));
/* 58 */
$h2-line-height: (null: 79px, $xl: 75px, $lg: 73px, $md: 65px, $sm: 55px, $xs: 55px);
/* 58 */

$modal-title-font-size: (null: em(64));
$display-h2-font-size: (null: em(45));
$h3-font-size: (null: em(32), $xl: em(29), $md: em(28));

.paragraph{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    @include font-size-map($paragraph-font-size);
    line-height: 25px;
}
.paragraph-text-small{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    @include font-size-map($small-paragraph-font-size);
    line-height: 22px;
}
.release-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    @include font-size-map($release-text-font-size);
    line-height: 26px;
}
/* 36 */
.text-fade {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    /* identical to box height */

    color: #7C7C7C;
}

.text-modal-title {
    font-family: Open Sans;
    font-style: normal;
    @include font-size-map($modal-title-font-size);
    line-height: 87px;

}

.text-breadcrumb {
    font-family: Open Sans;
    font-style: normal;
    @include font-size-map($base-font-size);
    line-height: 25px;
}

.text-caption {
    font-style: normal;
    line-height: 33px;
    letter-spacing: -0.02em;
    @include font-size-map($caption-font-size);
}

.text-caption-size {
    @include font-size-map($caption-font-size);

}

.card-text-ideias {
    font-style: normal;
    font-weight: normal;
    @include font-size-map($caption-font-size);
}

.card-text {
    letter-spacing: 1px;
}

.text-caption-lg {
    font-style: normal;
    line-height: 33px;
    letter-spacing: -0.02em;
    @include font-size-map($large-caption-font-size);
}

p {
    @include font-size-map($p-font-size);
    font-weight: normal;
}

h3 {
    font-style: normal;
    font-weight: 800;
    @include font-size-map($h3-font-size);
    line-height: 49px;
    letter-spacing: -0.02em;
}

h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    @include font-size-map($h2-font-size);
    @include line-height-map($h2-line-height);
    /* line-height: 79px; */

}

.display-h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    @include font-size-map($display-h2-font-size);
    line-height: 79px;
    word-wrap: break-word;

}

h1 {
    font-style: normal;
    font-weight: 800;
    @include font-size-map($h1-font-size);
    @include line-height-map($h1-line-height);

    /* line-height: 98px; */
}

.text-img {
    background: url(./img/ultimas-not-2.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-style: normal;
    font-weight: 800;
    font-size: 172px;
    line-height: 172px;
}

.highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #089BC0 65%);
    background-position-x: 60px;
    background-repeat: no-repeat;
    display: inline;


}
.font-weight-600{
    font-weight: 600;
}
.font-weight-extra-bold {
    font-weight: 800;
}

// ! AVULSOS 
#home-novidades {
    background-color: #099bc0;
}

.blue-footer {
    background-color: #089BC0;
}
.energisa-orange-footer {
    background-color: #FF9900;
}

#product-timeline {
    background-color: #F4F4F4;
}

#slider-long {
    background-color: #089BC0;

}

.hide {
    opacity: 0;
}

.ion-2x {
    font-size: 30px;
}

.trace-detail-left {
    position: relative;
    width: 0;
    height: 0;
    left: -150px;
}

.trace-detail-right {
    position: relative;
    width: 0;
    height: 0;
    margin-right: 150px;
}

.trace-detail-offset-up {
    top: -90px;
}

.trace-detail-offset-bottom {
    bottom: 65px;
}

.outline-text {
    border: 1px solid #fff;
    border-radius: 15px;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50px;

}

.text-orange {
    color: #EA6724;
}
.text-orange-important {
    color: #EA6724 !important;
}
.text-orange-energisa {
    color: #FF9900 !important;
}
.text-gray {
    color: #828282;
}

.text-gray-2 {
    color: #6F6F6F;
}

.text-gray-3 {
    color: #6A6A6A;
}

.text-gray-4 {
    color: #585858;
}
.text-gray-5 {
    color: #A3A3A3 !important;
}
.text-gray-6 {
    color: #8C8C8C !important;
}

.text-blue {
    color: #089BC0;
}

.round-outline-text {
    border: 1px solid #323232;
    border-radius: 6px;
}

.border-gray {
    border: 1px solid #828282;
}

.orange-outline-text {
    border: 1px solid #EA6724;
    border-radius: 30px;
}

.link-light {
    color: #fff !important;

}

.zoom-hover {
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}

.zoom-hover:hover {
    transform: scale(1.03);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

//! MENU NAVS
.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop(0%, rgba(0, 0, 0, 0.00)), color-stop(100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.menu-bg {
    -ms-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;


    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.nav-link {
    @include font-size-map($base-font-size);
    line-height: 25px;
}

.search-input {
    border: 0;
    border-radius: 50px;
}

section {
    margin-bottom: 0;
}

//! carrousel
.custom-carousel-caption {
    color: white;
    /* bottom: initial;
    top: 150px; */
}

.normal-carousel-caption {
    bottom: initial;
    top: 150px;
}

.custom-carousel-caption .slider-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* .custom-carousel-caption .slider-title {
    position: relative;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
} */
.slider-title-center {
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-title-center {
    position: relative;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.normal-carousel-caption .slider-title {
    margin-top: 150px;
    margin-bottom: 100px;
}

.slider-title-sm {
    max-width: 760px;
    padding-left: 100px;
}

.carousel-info {
    margin-left: 180px;
    margin-right: 180px;
}

.custom-control-bottom {
    bottom: 20px;
}

.custom-control-bottom-higher {
    bottom: 20%;
}

.custom-control-carrousel {
    position: absolute;
    right: 27%;
}

.custom-control-carrousel-left {
    position: absolute;
    right: 17%;
}

.custom-control-carrousel-center {
    position: absolute;
    right: 40%;
}

.btn-round {
    border-radius: 50% !important;
}

.carousel-inner .item {
    max-width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-long {
    padding-bottom: 85px;
}

.carousel-long .custom-control-carrousel-left {
    margin-bottom: 40px;
}

.carousel-long .custom-control-carrousel-center {
    margin-bottom: 40px;
}

.home-carrousel-bottom-offset {
    margin-bottom: 180px;

}

#home-carrousel {
    overflow-x: hidden;
}

/* html{
    overflow-x: hidden;
} */
.container {
    /* overflow-x: hidden; */
}

.carousel-control-holder {
    position: absolute;
    /* right: 26%; */
    bottom: 80px;
}

.carousel-control-holder .carousel-indicators {
    position: initial;
}

.carousel-control-holder .custom-control-carrousel {
    position: initial;
}

.carousel-info-container {
    margin-bottom: 10rem;
}

.carousel-side-indicators-holder {
    position: absolute;
    z-index: 15;
    /* left: 6%; */
    /* top: 200px; */
    display: flex;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.carousel-side-indicators-holder .carousel-indicators {
    position: initial;
}

//! cards
.card-outline {
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 6px;
}

.card-bg-wide {
    border: 0px;
    border-left: 15px solid #EA6724;
    border-radius: 6px;
}

.card-bg-small {
    height: 95%;
    margin: 12px 0px;
    border: 0px;
    border-radius: 6px;
    z-index: 2;
}

.card-full-small {
    border: none;
    height: 100%;
}

.card-full-small button {
    /* margin-top: 107px; */
}

.overlay-lg {
    padding: 80px 70px;
}

.overlay-sm {
    padding: 92px 43px 70px 43px;
}

.overlay-xs {
    padding: 30px 40px;
}

.overlay-white {
    padding: 47px;
}

.img-holder {
    /* height: 400px; */
    border-radius: 0px 6px 6px 0px;
}

.img-holder-sm {
    height: 100%;
    border-radius: 6px;
}

.img-caption {
    @include font-size-map($caption-font-size);
}

.card-btn {
    position: absolute;
    right: 0;
}

.overlay-status {
    margin-top: 90px;
}

.overlay-status .outline-text {
    margin-top: 10px;
}

.card {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.1);
}

.card-user-name {
    font-weight: bold;
    @include font-size-map($base-font-size);

}

.card-user-name-lg {
    font-weight: bold;
    @include font-size-map($large-caption-font-size);

}

.card-tags {
    display: flex;
    flex-wrap: wrap;
}

.role-tag-border {
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 100px;
}

.card-img-overlay {
    position: initial !important;
}

//! footer
.blue-footer{
    .footer-bottom {
        background-color: #1B9FC0;
    }
}
.energisa-orange-footer{
    .footer-bottom {
        background-color: #EC8E00;
    }
}

//! detail page banner
.product-banner-holder {

    padding-top: 171px;
    padding-bottom: 171px;

}

.product-banner-text {
    max-width: 800px;
    margin: auto;
}

.product-banner {
    max-width: 979px;
    margin: auto;
}

.large-banner {
    max-width: 1100px;
    margin: auto;
}

//! pagina: produto-interno
.product-description-text {
    /* max-width: 500px; */
    margin-bottom: 120px;
    margin-top: 90px;

}

#indicadores .row {
    padding: 0px 170px;
}

#indicadores h2 {
    margin-top: 90px;
}

.graph-detail-holder {
    left: 50px;
    right: 50px;
    position: absolute;
    top: 33%;
    max-width: 90%;
}

.ultimas-novidades-title {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#projeto-indicadores {
    background-color: #F1F1F1;
}

.white-col {
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.label-dot {
    font-size: 60px;
    line-height: 5px;
    position: relative;
    top: 15px;
}

#progresso-geral-projeto {
    overflow: hidden !important;
    background: #089BC0;
}

.progresso-atual-projeto {
    background: #0071A2;
    height: 100px;
}

.progresso-texto-projeto {
    position: absolute;
    left: 0;
    right: 0;
}

#como-estamos-projeto {
    background-color: #F1F1F1;
}

//todo timeline

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.card-slider {
    white-space: nowrap;
    overflow-x: scroll;
}

.card-slider>div:first-of-type {
    margin-left: 200px;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 355px 0;
    transition: all 1s;
}

.timeline-text-right {
    left: -96px !important;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 190px;
    height: 1px;
    background: #C4C4C4;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #EA6724;
}

.timeline ol li>div {
    position: absolute;
    left: calc(100% + 7px);
    width: 330px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 30px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: transparent;
}

.timeline-progress-circle {
    transform: scaleX(-1);
    stroke-linecap: round;
    width: 60px;
    height: 50px;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd)>div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: transparent transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent transparent;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.timeline .disabled {
    opacity: .5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {

    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid transparent;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}

#nossa-equipe {
    background: #F1F1F1;
}

.horizontal-orange-line {
    border-bottom: 15px solid #EA6724;
    width: 100%;
    align-self: center;
}

.team-img-holder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;

    height: 145px;
    width: 145px;
}

.card-sm {
    display: inline-flex;
    width: 355px;
    height: 432px;
}

.card-title-sm {
    max-width: 300px;
    position: absolute;
    bottom: 50px;
    white-space: normal;
}

.card-sub-sm {
    position: absolute;
    bottom: 30px;
    white-space: normal;
}

.img-post-container {
    padding: 10px 70px;
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .img-post-container {
        padding: 10px 0px;
    }
}

.bottom-text {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
}

.index-banner {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-blue {
    background-color: #089BC0;
}

.modal-header {
    border-bottom: 0px solid #dee2e6;
}

.modal-footer {
    border-top: 0px solid #dee2e6;
}

.modal-content {
    border: 0px;
}

.bg-header {
    height: 450px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.modal-tag {
    background-color: #EA6724;
    border-radius: 25px;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    /* color: #EA6724; */
    color: inherit;
    text-decoration: none;
    /* transform: scale(1.01); */
}

.navbar-light .navbar-nav .show>a,
.navbar-light .navbar-nav .current-menu-item>a,
.navbar-light .navbar-nav a.show,
.navbar-light .navbar-nav a.current-menu-item {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
}

.navbar-dark .navbar-nav .show>a,
.navbar-dark .navbar-nav .current-menu-item>a,
.navbar-dark .navbar-nav a.show,
.navbar-dark .navbar-nav a.current-menu-item {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav a {

    color: rgba(0, 0, 0, 0.5);
}

.navbar-dark .navbar-nav a {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav a:hover {
    font-weight: bold;
}

.navbar-dark .navbar-nav a:hover {
    font-weight: bold;
}

.menu-item>a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-size: 1.125em;
    line-height: 25px;
    display: block;
}

.banner-icon {
    width: 100px;
}

@media (max-width: 1367px) {
    .banner-icon {
        width: 80px;
    }

    .carousel-info {
        margin-left: 150px;
        margin-right: 150px;
    }
}

.slider-width-limit {
    max-width: 400px;
}

.projeto-text-width {
    max-width: 552px;
}

@media (max-width: 1200px) {
    .carousel-info {
        margin-left: 50px;
        margin-right: 50px;
    }

    .slider-width-limit {
        max-width: 1000px;
    }

    .projeto-text-width {
        max-width: 1052px;
    }

}

//mobile to tablets
@media (min-width: 480px) and (max-width: 1024px) {

    //CSS
    .bottom-text {
        position: relative;
        bottom: 0;
        margin-top: 150px;

    }

}

//mobile
@media (min-width: 320px) and (max-width: 480px) {
    .index-banner {
        height: initial;
    }

    .bottom-text {
        position: relative;
        bottom: 0;
        margin-top: 150px;
    }

}

.bg-gray {
    background-color: #F4F4F4 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-blue {
    background-color: #089BC0 !important;
}

.bg-gray h1,
.bg-gray h2,
.bg-gray h3,
.bg-gray h4,
.bg-gray h5 {
    color: #EA6724;
}

.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5 {
    color: #EA6724;
}

.bg-blue *:not(.btn):not(a):not(.icon) {
    /* , a, .icon */
    color: #fff;
}

.bg-blue .orange-outline-text {
    border: 1px solid #fff;
}

.bg-blue .white-col p {
    color: #000 !important;
}

.bg-blue .white-col small {
    color: #000 !important;
}

.bg-blue .white-col span {
    color: initial !important;
}

.bg-blue .white-col h3 {
    color: #EA6724 !important;
}


.scrollbar-custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.timeline>ol>li:first-of-type {
    height: 10px;
    width: 300px;
    background: #EA6724;
}

.timeline>ol>li:first-of-type>div {
    left: calc(40% + 7px);
    width: 335px;
}

.timeline>ol>li:first-of-type::after {
    background: transparent;
}

.timeline>ol>li:nth-child(2) {
    background: transparent;
    width: 395px;

    div {
        left: 105px !important;
    }
}

@media (min-width: 768px) {
    .container-small {
        width: 600px;
    }

    .container-large {
        width: 970px;
    }
}

@media (min-width: 992px) {
    .container-small {
        width: 800px;
    }

    .container-large {
        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 900px;
    }

    .container-large {
        width: 1500px;
    }

    .custom-carousel-caption .slider-title {
        /* margin-top: 20vh;
        margin-bottom: 100px; */
    }


}

@media (max-width: 1300px) {
    .timeline ol li>div {
        width: 297px;
    }

}

.container-small,
.container-large {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.card-link-div {
    cursor: pointer;
}

.normal-detail-bg h2 {
    color: #EA6724;
}

.custom-detail-bg {
    color: white;

}

.normal-carousel-caption h2 {
    color: #EA6724;
}

.timeline {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

    overflow-x: auto !important;
    transition: all 0.2s;
    cursor: pointer;
}

.timeline.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.timeline-andamento {
    font-size: 17px !important;
}

/*
 *  STYLE 1
 */

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*
 *  STYLE 2
 */

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

/*
 *  STYLE 3
 */

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/*
 *  STYLE 4
 */

.style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}


/*
 *  STYLE 5
 */

.style-5::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-5::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-5::-webkit-scrollbar-thumb {
    background-color: #0ae;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.5, transparent), to(transparent));
}


/*
 *  STYLE 6
 */

/* .style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #E4E4E4;
} */

.style-6::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background-color: transparent;
}

.style-6::-webkit-scrollbar-thumb {
    background-color: #EA6724;
    /* z-index: 1; */

}

.style-6::-webkit-scrollbar-track-piece:end {
    background: transparent;
    /* margin-bottom: 100px;  */
    margin-right: 39vw;
}

.style-6::-webkit-scrollbar-track-piece:start {
    background: transparent;
    /* margin-top: 100px; */
    margin-left: 39vw;
}

.style-6::-webkit-scrollbar-track {
    background: transparent;
}

#product-timeline {
    position: relative;
    z-index: 0;
}

#como-estamos-projeto {
    position: relative;
    z-index: 0;
}

.timeline::after {
    margin-left: auto;
    margin-right: auto;
    content: '';
    position: absolute;
    z-index: -1;
    /* bottom: -1px; */
    height: 10px;
    width: 20vw;
    left: 0;
    right: 0;
    /* margin-left: auto;
    margin-right: auto; */
    background: #E4E4E4;
}

.scroll-bg-gray::after {
    margin-top: 469px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    position: absolute;
    z-index: -1;
    /* bottom: -1px; */
    height: 10px;
    width: 20vw;
    left: 0;
    right: 0;
    /* bottom: 0; */
    /* margin-left: auto;
    margin-right: auto; */
    background: #E4E4E4;
}

/*
 *  STYLE 7
 */

.style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.style-7::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
}

/*
 *  STYLE 8
 */

.style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

.style-8::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}


/*
 *  STYLE 9
 */

.style-9::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-9::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-9::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}


/*
 *  STYLE 10
 */

.style-10::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.style-10::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-10::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
            rgba(0, 0, 0, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(0, 0, 0, .2) 50%,
            rgba(0, 0, 0, .2) 75%,
            transparent 75%,
            transparent)
}


/*
 *  STYLE 11
 */

.style-11::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.style-11::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-11::-webkit-scrollbar-thumb {
    background-color: #3366FF;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
            rgba(255, 255, 255, 0.5) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.5) 75%,
            transparent 75%,
            transparent)
}

/*
 *  STYLE 12
 */

.style-12::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #444444;
}

.style-12::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-12::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
            transparent,
            rgba(0, 0, 0, 0.4) 50%,
            transparent,
            transparent)
}

/*
 *  STYLE 13
 */

.style-13::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}

.style-13::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-13::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
            transparent,
            rgba(0, 0, 0, 0.4) 50%,
            transparent,
            transparent)
}

/*
 *  STYLE 14
 */

.style-14::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    background-color: #CCCCCC;
}

.style-14::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-14::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 25%,
            transparent 100%,
            rgba(0, 0, 0, 1) 75%,
            transparent)
}

/*
 *  STYLE 15
 */

.style-15::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.style-15::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-15::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#4D9C41),
            to(#19911D),
            color-stop(.6, #54DE5D))
}

/*
 *  STYLE 16
 */

.style-16::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.style-16::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-16::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,
            #e4f5fc 0%,
            #bfe8f9 50%,
            #9fd8ef 51%,
            #2ab0ed 100%);
}

.btn-confira-offset {
    margin-top: 40px !important;
    padding: 12px 43px !important;
}

@media (min-width: 768px) {
    /* slider edsign de produtos */

    /* show 3 items */
    .carouselPrograms .carousel-inner .active,
    .carouselPrograms .carousel-inner .active+.carousel-item,
    .carouselPrograms .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    .carouselPrograms .carousel-item {
        margin-right: 0;
    }

    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }

    .carouselPrograms .carousel-inner .carousel-item-next,
    .carouselPrograms .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carouselPrograms .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .carouselPrograms .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .carouselPrograms .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    .carousel-item>.col-md-4>.active+div {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}

.img-fit {
    object-fit: cover;
    width: 100%;
    /* height: 360px; */
}

.text-ideias-format>p {
    line-height: 42px !important;
}

.not-found-text {
    margin-top: 80px;
    margin-bottom: 70px;
}

.design-produto-iner div>.panel-default>.panel-thumbnail>a>img {
    /* height: 200px;
    width: 100px; */

    /* height: 200px;
    width: 123px;
    left: -15px;
    top: 25px;
    position: relative; */

    /* flex: 0 0 50%; */
    width: 70%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;
    /* position: relative;
    top: 50px; */
    /* padding-right: 15px;
    padding-left: 15px; */

}

.design-produto-iner div>.panel-default>.panel-thumbnail>p {
    display: none;

}

.design-produto-iner .active+div>.panel-default>.panel-thumbnail>a>img {
    /* transform: scale(1.4); */
    /* height: 300px !important;
    width: 300px !important; */

    /* height: 250px;
    width: 350px;
    top: 0;*/
    position: relative;
    height: 300px !important;
    ;
    left: -54px;
    top: 0;
    height: initial;

    /* flex: 0 0 150%; */
    width: 150%;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.design-produto-iner .active+div>.panel-default>.panel-thumbnail>p {
    display: initial;
}

@media (max-width: 768px) {
    .slider-title-sm {
        padding-left: 0;
    }

    .card-slider>div:first-of-type {
        margin-left: 15px;
    }
}

#comments ul {
    padding: 0 !important;
}

#respond form fieldset label {
    width: 100%;
}

#respond form fieldset input {
    width: 100%;
    border: 1px solid #9e9e9f;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
}

#respond form fieldset textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #9e9e9f;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
}

#respond form fieldset .commentsubmit {
    width: 220px !important;

    background: #EA6724;
    border: 1px solid #EA6724;

    color: #fff;
    border-radius: 6px;

}
.text-dark-2{
    color: #202020 !important;
}
.bg-blue .text-dark-2{
    color: #fff !important;
}

.likebtn_container span .likebtn-button .lb-a .likebtn-label {
    line-height: 1.5;
    margin-right: 5px;

    font-weight: 400;
    font-size: 1rem;
    font-family: inherit;
    margin-bottom: 5px;
}

.likebtn_container span .likebtn-button {
    border: 1px solid #343a40;
    padding: 0.275rem 0.95rem;
    padding-bottom: 0.7rem;
    border-radius: 0.25rem;


}

.likebtn_container span .likebtn-button .lb-a .likebtn-icon {
    display: none;
}

#wppb-loginform .login-submit input {
    background: #EA6724;
    border: 1px solid #EA6724;

    color: #fff;
    border-radius: 6px;
    padding: 5px 15px;

}

.wpuf-label {
    width: 100% !important;
}

.wpuf-fields {
    width: 100% !important;

}

.wpuf-fields input {
    width: 100% !important;
    border: 1px solid #9e9e9f;
    padding: 5px;
    border-radius: 5px;

}

.wpuf-submit-button {
    background: #EA6724;
    border: 1px solid #EA6724;

    color: #fff;
    border-radius: 6px;
    padding: 5px 15px;

}

.timeline-andamento-projeto {
    left: -48px;
    top: 12px;
    position: relative;
}

#respond>* {
    position: relative;
    top: 83px;

}

.carousel-fullpage {
    height: 100vh;
}

.product-description-info {
    height: 50vh;
}




.lb-tt.lb-share-tt {
    display: none !important;

    position: absolute;
    top: -100vh;
    bottom: 100vh !important;
}

.fp-enabled .modal {
    position: fixed !important;
}

#respond {
    .login-username {
        margin-top: 60px;
        width: 50%;
    }

    .login-username label {
        width: 10%;
    }

    .login-username input {
        width: 90%;
    }

    .login-password {
        width: 50%;
    }

    .login-password label {
        width: 10%;
    }

    .login-password input {
        width: 90%;
    }

    .login-remember {
        width: 50%;
    }

    .login-remember label {
        /* width: 10%; */
    }

    .login-remember input {
        width: 90%;
    }

    .login-remember label input {
        width: 5% !important;
    }

    .login-submit {
        width: 50%;
        /*     margin-left: auto !important;
        margin-right: auto !important;
    */
    }

    .login-submit input {
        background: #EA6724;
        border: 1px solid #EA6724;

        color: #fff;
        border-radius: 6px;
        padding: 5px 15px;
    }
}

#wppb-register-user .form-submit input {
    background: #EA6724;
    border: 1px solid #EA6724;

    color: #fff;
    border-radius: 6px;
    padding: 5px 15px;

}

.modal-full {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

/* ************** */
/* ** act form ** */
/* ************** */
#acf-form .acf-form-fields {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-direction: column;
}

#acf-form .acf-form-fields .acf-field--post-title {
    order: 1;
    padding: 15px 0px;
}

#acf-form .acf-form-fields .acf-field-post-object {
    order: 2;
    border-top: none;
    padding: 15px 0px;
}

#acf-form .acf-form-fields .acf-field--post-content {
    order: 3;
    border-top: none;
    padding: 15px 0px;
}

#acf-form #wp-acf-editor-32-editor-tools {
    display: none !important;
}

/* ******************** */
/* * global functions * */
/* ******************** */

.absolute-vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 320px) and (max-width: 480px) {

    //CSS
    .carousel-fullpage {
        height: initial;
    }

    .card-bg-small {
        margin: 23px 0px;
    }

    .product-description-info {
        height: 35vh;
    }

    .custom-carousel-caption .slider-title {
        /* margin-bottom: 10px; */
    }

    .carousel-info {
        margin-left: 0px;
        margin-right: 0px;
    }

    .overlay-lg {
        padding: 30px 20px;
    }

    .overlay-sm {
        padding: 30px 23px;
    }

    .timeline-andamento-projeto {
        left: -73px;
        top: 40px;
        position: relative;
    }


    #respond {
        .login-username {
            margin-top: 60px;
            width: 100%;
        }

        .login-username label {
            width: 10%;
        }

        .login-username input {
            width: 90%;
        }

        .login-password {
            width: 100%;
        }

        .login-password label {
            width: 10%;
        }

        .login-password input {
            width: 90%;
        }

        .login-remember {
            width: 100%;
        }

        .login-remember input {
            width: 90%;
        }

        .login-remember label input {
            width: 5% !important;
        }

        .login-submit {
            width: 100%;
            /*     margin-left: auto !important;
            margin-right: auto !important;
        */
        }
    }


}

.alert {
    height: fit-content;
    margin: 15px 5px;
}

.alert-danger {
    background-color: #f8d7da36;
}

.posts-end-alert {
    /*  + .posts-end-alert */
    display: none;
}

.cld-like-dislike-wrap {
    margin-right: 15px;
}

.cld-like-dislike-wrap {
    border: 1px solid #202020 !important;
    border-radius: 6px !important;
}

.cld-like-dislike-wrap>div>a {
    margin-left: 13px !important;
    margin-right: 5px !important;
}

.cld-like-dislike-wrap>div>a>img {
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 42px !important;
}

.cld-like-dislike-wrap>div>span {
    margin-top: 13px;

}

.carousel-banner-index {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.primary-btn-spacing {
    padding: 12px 50px;
}

#home-projetos {
    background-color: #f4f4f4;
}

.margin-card-wide {
    margin-top: 58px;
    margin-bottom: 12px;
}

.btn-next-card-sm {
    padding: 0px 5px;
}

.quero-colaborar-margin {
    margin-top: 69px;
    margin-bottom: 60px;
}

@media (min-width: 1500px) and (max-width: 1700px) {

    .card-slider>div:first-of-type {
        margin-left: 13%;
    }
}

@media (min-width: 1701px) {

    .card-slider>div:first-of-type {
        margin-left: 20%;
    }
}

.timeline-text-left {
    width: 100px !important;
}

.confira-nov-btn {
    position: relative;
    top: 100px;
    margin-bottom: 30px;
}

#comments * {
    list-style: none;
}

.comment-list ul {
    margin-left: 45px;
}

.comment .comment-reply-login {
    border: 1px solid #202020 !important;
    border-radius: 6px !important;
    padding: 2px 13px;
    top: 1px;
    position: relative;
}

.comment .comment-reply-link {
    border: 1px solid #202020 !important;
    border-radius: 6px !important;
    padding: 2px 13px;
    top: 1px;
    position: relative;
}

@media (min-width: 767px) {
    .home-banner-left {
        position: absolute;
        bottom: 124px;
        left: 0;
        right: 0;
    }
}









/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.release ul {
    padding-bottom: 151px;
}
.release ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #C4C4C4;
}
.release time{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 10px;
    /* identical to box height */

    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #EA6724;
    margin: 0;

}
.release .release-btn{
    padding: 7px 37px;
    font-size: 14px;
    margin-top: 15px;
}
.bg-blue .release .release-btn{
    color: #fff !important;
}
.bg-blue .release .release-btn:hover{
    color: #000 !important;
}
.release .paragraph{
    word-wrap: break-word;
}
.release .paragraph-text-small{
    margin-top: 10px;
    margin-bottom: 10px;
}
.release .tittle-badge{
    display: inline-block;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding: 14px 24px;
    margin-bottom: 24px;
}

.release ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  /* top: 55%; */
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: inherit;
  border: 5px solid #fff;
}
.bg-blue .release ul li::after{
    border: 5px solid #089BC0;
}
.bg-gray .release ul li::after{
    border: 5px solid #F4F4F4;
}

.release ul li div {
  position: relative;
  bottom: -35px;
  width: 400px;
  
  padding: 15px;
  /* background: #F45B69; */
}

/* .release ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
} */

.release ul li:nth-child(odd) div {
  left: 45px;
}

/* .release ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
} */

.release ul li:nth-child(even) div {
  left: -439px;
  text-align: right !important;
}
.release ul li:nth-child(even) div .paragraph-text-small, 
.release ul li:nth-child(even) div .release-text {
  left: -439px;
  text-align: right !important;
  margin-left: auto;
}
.release ul li:nth-child(even) div .release-text {
    position: absolute;
    right: 15px;
}
.release ul li:nth-child(odd) div .release-text {
    position: absolute;
    left: 15px;
}

/* .release ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
} */

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.release ul li::after {
  transition: background .5s ease-in-out;
}

.release ul li.in-view::after {
    background: #EA6724;
}
.bg-blue .release ul li.in-view::after{
    background: #ffffff;
}

.release ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.release ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.release ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.release ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .release ul li div {
    width: 250px;
  }
  .release ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
    .release ul li::after {
        bottom: initial;
        
        top: 55%;
    }
      
  .release ul li {
    margin-left: 20px;
  }
  .release ul li div {
    width: calc(100vw - 91px);
  }
  .release ul li:nth-child(even) div {
    left: 45px;
  }
  .release ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }


  .release ul li:nth-child(even) div {
    text-align: initial !important;
  }
  .release ul li:nth-child(even) div .paragraph-text-small, 
  .release ul li:nth-child(even) div .release-text {
    text-align: initial !important;
    margin-left: initial;
  }
  .release ul li:nth-child(even) div .release-text {
    position: initial;
    right: initial;
    }
    .release ul li:nth-child(odd) div .release-text {
        position: initial;
        left: initial;
    }
}

.reselase-all ul li:nth-child(2) div {
    top: -115px;
}
.reselase-all ul li:nth-child(2) {
    height: 135px;
}

.reselase-all ul li:nth-child(1)::after {
    border-radius: 0;
    background: #EA6724;
  }
  
.reselase-all ul li:nth-child(1) {
    border-radius: 0;
    background: transparent;
  }
  

.release-single ul li:nth-child(2) div {
    top: -115px;
}
.release-single ul li:nth-child(2) {
    height: 135px;
}

.release-single ul li:nth-child(1)::after {
    border-radius: 0;
    background: #EA6724;
  }
  
.release-single ul li:nth-child(1) {
    border-radius: 0;
    background: transparent;
  }

.badge-orange{
    border-radius: 4px;
    background: #EA6724;
    padding: 5px 10px;
    color: #fff;
    /* color: #EA6724; */
}
.badge-blue{
    border-radius: 4px;
    background: #089BC0;
    padding: 5px 10px;
    color: #fff;
    /* color: #089BC0; */
}
.badge-green{
    border-radius: 4px;
    background: #08c045;
    padding: 5px 10px;
    color: #fff;
    /* color: #08c045; */
}
.btn-next{
    position: relative;
    
    -ms-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-next .first-icon{  
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
}
.btn-next .second-icon{
    position: absolute;
    bottom: 13px;
    left: 0;
    right: 0;
}
.btn-next-section{
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 9000;
}
.btn-prev-section{
    position: fixed;
    right: 0;
    bottom: 80px;
    z-index: 9000;
}
.show-btn{
    opacity: 1;
}
#backlog-list{
    .search-spacing{
        padding-top: 40px;
        padding-bottom: 28px;
    }
}
#backlog-table-empity{
    .centerMessageHolder{
        display: grid;
        place-items: center;
        height: 500px;
        width: 100%;
    }
}
#backlog-table{
    .mb-100{
        margin-bottom: 100px;
    }
    thead tr{
        th{
            background: #FF9900;
            font-size: 18px;
            line-height: 28px;
        }
        th:first-child { 
            border-top-left-radius: 6px; 
            border-bottom-left-radius: 6px; 
        }
        
        th:last-child { 
            border-top-right-radius: 6px; 
            border-bottom-right-radius: 6px;
        }
        color: #FFFFFF;
    }
    tbody tr:nth-of-type(even) {
        td{
            font-size: 14px;
            line-height: 24px;
            background: #F8F8F8;
        }
        td:first-child { 
            border-top-left-radius: 6px; 
            border-bottom-left-radius: 6px; 
        }
        td:last-child { 
            border-top-right-radius: 6px; 
            border-bottom-right-radius: 6px;
        }
    }
    .table thead th{
        border-bottom: none;
    }
    .table th, .table td{
        border-top: none;
    }
}
.backlog-banner{
    max-width: 844px;
    margin: auto;
}
.pb-72{
    padding-bottom: 72px;
}
#spints{
    background-color: #089BC0;
    @media screen and (max-width: 760px) {
        .container-height-sm{
            height: 400px !important; 
        }
    }
    @media screen and (min-width: 760px) {
        .swiper-slide-prev{
            width: 25% !important;
        }
        .swiper-slide-active{
            width: 50% !important;
            h3{
                color: #FF9900 !important;
            }
        }
        .swiper-slide-next{
            width: 25% !important;
        }
    }

    .sprint-card{
        background-color: #fff;
        border-radius: 6px;
        padding: 30px 48px;
        margin: 0px 10px;
        ul{
            padding: 0;
        }
        li{
            
            text-decoration: none;
            list-style-type: none;
            list-style-position:inside;
            margin:0;
            padding:10px 16px;
        }
        li:nth-of-type(odd){
            background: #F8F8F8;
            border-radius: 6px;
        }
    }
}
#spints-review{
    .user-pic{
        height: 32px;
        width: 32px;
        border-radius: 50px;
        margin-right: 10px;
    }
    .emoji-icon{
        height: 28px;
        width: 28px;

    }
    background-color: #089BC0;
    padding-bottom: 113px;
    .sprint-card{
        background-color: #fff;
        border-radius: 6px;
        padding: 30px 48px;
        ul{
            padding: 0;
        }
        li{
            
            text-decoration: none;
            list-style-type: none;
            list-style-position:inside;
            margin:0;
            padding:10px 16px;
        }
        li:nth-of-type(odd){
            background: #F8F8F8;
            border-radius: 6px;
        }
    }
}